@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing:initial;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    min-height: 110vh;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    padding: 0;
    display: flex;
}

.header:hover::before {
    left: 100%;
}

.logo {
    position: fixed;
    top: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    color: #fff;
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    transition: .5s;
    z-index: 99;
}

.logo:hover {
    color: #a1d4f9;
}


:root {
    --primary-color: #edf2fc;
    --secondary-color: #b7b7b774; 
}

.dark-theme {
    --primary-color: #1d0015;
    --secondary-color: #dac5df;
}



.dark-moon{
    width: 40px;
    cursor: pointer;
    left: 350px;
    position: absolute;
    margin-top: 20px;
}

.side-nav {
    width:  130px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: var(--secondary-color);
    backdrop-filter: blur(5px);
    box-shadow: #711f66d2 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.2s;
    z-index: 10;
    list-style: none;
}

.collapsed {
    width: 0 ;
}

ul {
    list-style: none;
    padding: 10px 15px;
}

ul li {
    font-size: large;
    margin: 55px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}


ul li:hover {
    background-color: rgba(86, 82, 82, 0.04);
    transition: .1s ease;
    border-radius: 15px;
}

ul li::before {
    content: "";
    margin-bottom: -30px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(119, 91, 172, 0.648);
    bottom: 0;
    left: 0;
}

ul li img {
    width: 30px;
    margin-right: 0px;
}

ul li a{
    white-space: nowrap;
    display: none;
}

ul li a.qr-create,
ul li img.qr-icon {
    top: 0;
    margin-bottom: 35px;
}

ul li a.qr-scan,
ul li img.scan-icon {
    margin-bottom: 35px;
}

ul li a i {
    color: #494949a1;
    font-size: 15px;
    font-weight: 100;
}

.side-nav:hover {
    width: 250px;
}

.side-nav:hover ul li a {
    display: block;
}

.side-nav:hover ul li img {
    margin-right: 10px;
}

.side-nav:hover ul li {
    justify-content: flex-start;
}

.side-nav a {
    font-weight: bold;
    color: #42013b;
    text-decoration: none;
}

.side-nav ul li a.git {
    color: #37183dcf;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
}

.side-nav ul li a.git:hover {
    color:#db96ae;
    transition: .2s ease;
}

.container {
    margin-left: 150px;
    position: center;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px 10px rgba(223, 148, 202, 0.749);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align: center;
    display: flex;
    z-index: 2;
}

.question-container {
    margin-left: 180px;
    max-width: 70%;
    max-height: 80%;
    position: fixed;
    background-color: var(--secondary-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px 10px rgba(208, 148, 223, 0.682);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align:start;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: auto;
}

.privacy-container {
    margin-left: 180px;
    max-width: 70%;
    max-height: 80%;
    position: fixed;
    background-color: var(--secondary-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px 10px rgba(152, 148, 223, 0.749);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align:start;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: auto;
}

.terms-container {
    margin-left: 180px;
    max-width: 70%;
    max-height: 80%;
    position: fixed;
    background-color: var(--secondary-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px 10px rgba(148, 223, 201, 0.749);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align:start;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: auto;
}

.contact-container {
    margin-left: 180px;
    max-width: 70%;
    max-height: 80%;
    position: fixed;
    background-color: var(--secondary-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px 10px rgba(130, 81, 133, 0.749);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align:start;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: auto;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    color: var(--primary-color);
}

b .definition {
    justify-content: center;
}

.setting {
    padding-right: 15px;
    min-width: 380px;
}

.input-wrap {
    align-items: flex-start;
    display: flex;
    text-align: left;
    padding-bottom: 10px;
}

.input-1x {
    width: 100%;
}

.input-2x {
    width: 50%;
}

label {
    width: 30%;
}

.display {
    width: 100%;
}

textarea, select, input, button{
    border: none;
    resize: none;
    font-family: Poppins;
    font-size: 1rem;
}

select, textarea {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
}

input[type='range'] {
    accent-color: #bc386b;
}

.button-container {
    height: 15vh;
    margin-inline: 2rem;
    display: grid;
    place-items: center;
}

.button {
    position: relative;
    transition: transform .4s;
    text-decoration: none;
}

.button-content {
    position: relative;
    background: rgb(207, 152, 228);
    padding: .8rem 1rem;
    border-radius: 1.8rem;
    border: 2px solid rgb(63, 0, 56);
    color: #000;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    overflow: hidden;
}

.button-text {
    font-weight: 700;
}

.button-icon {
    font-size: 1.5rem;
    position: left;
}

.button-text,
.button-icon {
    position: relative;
    z-index: 2;
}

.button-reflection-1,
.button-reflection-2 {
    width: 8px;
    height: 120px;
    background-color: rgba(219, 204, 206, 0.486);
    rotate: 30deg;
    position: absolute;
    inset: 0;
    top: 0;
    left: -180%;
    margin: auto;
    transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button-reflection-1::after {
    content: '';
    width: 20px;
    height: 100%;
    background-color: rgba(219, 204, 206, 0.486);
    position: absolute;
    top: -1rem;
    left: 1.25rem;
}

.button-reflection-2::after {
    content: '';
    width: 20px;
    height: 100%;
    background-color: rgba(219, 204, 206, 0.486);
    position: absolute;
    top: -1rem;
    left: .8rem;
}

.button img {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: transform .5s, opacity .5s;
}

.button-watermelon {
    width: 20px;
    top: -14px;
    left: -16px;
    transform: rotate(48deg) scale(.1);
}

.button-grapes {
    width: 40px;
    right: -10px;
    top: -4px;
    transform: rotate(-48deg) scale(.1);
}

.button-blossom-1,
.button-blossom-2 {
    width: 13px;
}

.button-blossom-1 {
    top: -8px;
    left: 58px;
    transform: scale(.1);
}

.button-blossom-2 {
    right: 34px;
    bottom: -8px;
    transform: scale(.1);
}

.button-cherry {
    width: 18px;
    top: -18px;
    right: 62px;
    transform: scale(.1);
}

.button-strawberry {
    width: 30px;
    left: 15px;
    bottom: -16px;
    transform: rotate(-48deg) scale(.1);
}

.button-shadow {
    width: 68%;
    height: 33%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(242, 196, 248, 0.581);
    padding: 1rem 1rem;
    border-radius: 4rem;
    border: 1px solid rgba(51, 0, 51, 0.61);
    z-index: -1;
    transition: transform .3s;
}

.button:hover .button-shadow {
    transform: translate(-.5rem, .5rem);
}

.button:hover .button-reflection-1 {
    left: 120%;
}

.button:hover .button-reflection-2 {
    left: -70%;
}

.button:hover {
    transform: rotate(-4deg) scale(1.1);
}

.button:hover img {
    opacity: 1;
}

.button:hover .button-watermelon {
    transform: scale(1.1);
    transition-delay: .1s;
}

.button:hover .button-grapes {
    transform: scale(1.1);
}

.button:hover .button-blossom-1 {
    transform: translateY(-8px) scale(1.1);
    transition-delay: .1s;
}

.button:hover .button-blossom-2 {
    transform: translate(-20px, 20px) scale(1.1);
}

.button:hover .button-cherry {
    transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.button:hover .button-strawberry {
    transform:rotate(-12deg) scale(1.1);
}
/* Media query */
@media (max-width: 600px) {
    .header {
        padding: 35px; 
    }
    .container {
        flex-direction:row;
        padding: 25px; 
    }
    ul li a.qr-create,
    ul li img.qr-icon {
        margin-bottom: 15px;
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .side-nav {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 43px;
        display: block;
    }
    .side-nav:hover{
        width: 40%;
        overflow:scroll;
    }
    .container {
        flex-direction:row;
        padding: 25px;
        overflow: auto;
    }
    .toggle-button-container {
        display: block;
        top: 20px;
        left: 20px;
        z-index: 100;
        font-size: 18px;
        cursor: pointer;
    }
    .question-container {
        margin-top: 0px;
        overflow: auto;
    }
    .privacy-container {
        flex-direction:column;
        padding:20px;
        overflow: auto;
        width: fit-content;
        height: fit-content;
    }
}


@media (max-width: 2000px) {
    .question-container {
        flex-direction: column;
    }
    .privacy-container {
        flex-direction: column;
        overflow:auto;
    }
}

@media (max-width: 400px) {
    .header {
        justify-content: center;
    }
    .container {
        margin-left: 0px;
        flex-direction: column;
    }
    .question-container {
        margin-left: 0px;
        flex-direction: column;
    }
    .privacy-container {
        flex-direction: row;
        margin: 60px;
    }
    #darkmodemoon {
        left: 175px;
        margin-top:-10px;
    }
}

@media (max-width: 700px) {
    #darkmodemoon {
        left: 175px;
        margin-top:20px;
    }
}
