@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/aesthetic.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    padding: 25px ;
    display: flex;
}

.header:hover::before {
    left: 100%;
}

.logo {
    position: flex;
    top: 10px;
    bottom: 943px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    color: #FFFFFF;
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: center;
    color: #faf3fa;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    cursor: default;
    transition: .5s;
}

.logo:hover {
    color: #ebc1d0;
}

.side-nav {
    width:  150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.2s;
}


.side-nav h4 {
    width: 0;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li {
    font-size: large;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li:hover {
    background-color: rgba(86, 82, 82, 0.04);
    transition: .2s ease;
    border-radius: 20px;
}

ul li img {
    width: 30px;
    margin-right: 0px;
}

ul li a{
    white-space: nowrap;
    display: none;
}

ul li a.qr-create,
ul li img.qr-icon {
    margin-bottom: 35px;
}

ul li a.qr-scan,
ul li img.scan-icon {
    margin-bottom: 35px;
}

ul li a i {
    color: #494949a1;
    font-size: 15px;
    font-weight: 100;
}

.side-nav:hover {
    width: 250px;
}

.side-nav h4 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.516);
}

.side-nav:hover ul li a {
    display: block;
}

.side-nav:hover ul li img {
    margin-right: 10px;
}

.side-nav:hover ul li {
    justify-content: flex-start;
}

.side-nav a {
    font-weight: bold;
    color: #42013b;
    text-decoration: none;
}

.side-nav ul li a.git {
    color: #37183dcf;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
}

.side-nav ul li a.git:hover {
    color:#db96ae;
    transition: .2s ease;
}


.container {
    margin-left: 250px;
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 100px rgba(88, 0, 86, 0.5);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align: center;
    display: flex;
}

.setting {
    padding-right: 15px;
    min-width: 380px;
}

.input-wrap {
    align-items: flex-start;
    display: flex;
    text-align: left;
    padding-bottom: 10px;
}

.input-1x {
    width: 100%;
}

.input-2x {
    width: 50%;
}

label {
    width: 30%;
}

.display {
    width: 100%;
}

textarea, select, input, button{
    border: none;
    resize: none;
    font-family: Poppins;
    font-size: 1rem;
}

select, textarea {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
}

input[type='range'] {
    accent-color: #bc386b;
}

button {
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(233 30, 99);
}

.btn-download {
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

/* Media query */
@media (max-width: 600px) {
    .header {
        padding: 35px; 
    }

    .container {
        flex-direction:row;
        padding: 25px; 
    }
}

@media (max-width: 600px) {
    .side-nav {
        display: none;
    }
    .container {
        flex-direction:row;
        padding: 25px; 
    }
}



