@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/rainbow.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;
    padding: 25px ;
    display: flex;
}

.header:hover::before {
    left: 100%;
}

.logo {
    position: flex;
    top: 10px;
    bottom: 943px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    color: #FFFFFF;
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: center;
    color: #faf3fa;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    cursor: default;
    transition: .5s;
}

.logo:hover {
    color: #ebc1d0;
}


.container {
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 100px rgba(88, 0, 86, 0.5);
    border-radius: 30px;
    padding: 30px 15px 30px 30px;
    text-align: center;
    display: flex;
}

.setting {
    padding-right: 15px;
    min-width: 380px;
}

.input-wrap {
    align-items: flex-start;
    display: flex;
    text-align: left;
    padding-bottom: 10px;
}

.input-1x {
    width: 100%;
}

.input-2x {
    width: 50%;
}

label {
    width: 30%;
}

.display {
    width: 100%;
}

textarea, select, input, button{
    border: none;
    resize: none;
    font-family: Poppins;
    font-size: 1rem;
}

select, textarea {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
}

input[type='range'] {
    accent-color: #bc386b;
}

button {
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(233 30, 99);
}

.btn-download {
    padding: 10px;
    cursor: pointer;
    width: 100%;
}